/* Header Styling */ 
header {
    flex: none;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(68, 68, 68);
    padding: 10px 10px
}


/* TODO: style the footer */

footer {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(68, 68, 68);
    padding: 10px 10px;
}