.match-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
    gap: 10px;
}

.date {
    color: grey;
}

.match-list-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(68, 68,68);
    border-radius: 20px;
    padding: 10px 20px;
    min-width: 300px;
    max-width: 400px;
    
    min-height: 150px;
    max-height: 200px;
}

.scoring-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.score {
    font-size: 5em;
}