#scoringArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
}

.score {
    font-size:xxx-large;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
}

.subtext {
    color: rgb(120, 120, 120);
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100%;
    min-width: fit-content
}

.scoring-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    border-style: none;
    min-width: fit-content;
    width: 30%;
    background-color:rgb(9, 9, 9);
}

#undo {
    width: 30%;
    height: 100%;
    background-color: #666;
    border-style: none;
    border-width: 2px;
}
