* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.score {
    font-size:x-large;
    font-weight: 900;
    color: #3972C3;
}

.buttonText {
    color: white;
    text-align: center;
}

/* Header Styling */ 
header {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.service-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.nav-buttons, .service-name {
    text-align: left;
    
}

.header-link {
    padding-right: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.header-link:hover {
    color: orange;
}

main {
    flex: 1;
    flex-direction: column;
}

/* These are some fun pieces of CSS for some rounded black buttons */
.menuButton {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #000000;
    border-radius: 100px;
    flex: 1;
}

.menuButtonAlt {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #858585;
    border-radius: 100px;
    flex: 1;
}