* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.score {
    font-size:x-large;
    font-weight: 900;
    color: #3972C3;
}

.buttonText {
    color: white;
    text-align: center;
}

/* Header Styling */ 
header {
    display: grid;
    grid-template-columns: 1fr 10fr;
    background-color: rgb(139, 139, 139);
    padding-top: 10px;
    padding-bottom: 10px;
}

.service-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.nav-buttons, .service-name {
    text-align: left;
    
}

.service-name {
    color: #3972C3;
}

.nav-buttons {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

#app-logo {
    max-width: 75%;
    max-height: max-content;
    height: auto;
}

#logo {
    align-items: center;
}

.header-link {
    padding-right: 30px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.header-link:hover {
    animation: pulse_colors infinite 2s;
}

@keyframes pulse_colors {
    0% {
        color: white;
    }
    40% {
        color: #3972C3;
    }
    100% {
        color: white;
    }
}

main {
    flex: 1;
    flex-direction: column;
}

/* TODO: style the footer */
/* TODO: style the main content body */
/* TODO: style the navigation elements */
/* TODO: make buttons responsive to window resizing */
/* TODO: properly style application text content */
/* TODO: properly style application images */
/* TODO: properly style the application content */