.header-link {
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 100px;
    cursor: pointer;
    border: 0.5px;
    border-style: solid;
    text-decoration: none;
    border-color: #ffffff;
    background: none;
}

.header-link:hover {
    background-color: rgb(64, 131, 255);
}

.header-link:active {
    background-color: rgb(0, 89, 255);
}

.interactive-button .header-link {
    border-color: rgb(64, 131, 255);
    border-style: solid;
    color: rgb(64, 131, 255);
}

.interactive-button .header-link:hover {
    border-color: rgb(64, 131, 255);
    border-style: solid;
    color: rgb(64, 131, 255);
    background-color: rgb(209, 225, 255);
}